body{
margin:0;
font-family:Segoe UI;
background:#EEF2F7;
}

.header{
background:linear-gradient(90deg,#1E3A8A,#2563EB);
color:white;
padding:18px;
font-size:26px;
font-weight:bold;
text-align:center;
}

.login-container{
width:360px;
margin:70px auto;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
text-align:center;
}

.login-container input{
width:90%;
padding:12px;
margin:10px;
border:1px solid #ddd;
border-radius:6px;
}

.login-container button{
padding:12px 20px;
background:#2563EB;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.sidebar{
width:220px;
height:100vh;
background:linear-gradient(180deg,#0F172A,#1E3A8A);
color:white;
position:fixed;
padding:20px;
}

.sidebar button{
width:100%;
padding:12px;
margin-top:12px;
background:#3B82F6;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

.main{
margin-left:240px;
padding:25px;
}

.card{
background:white;
padding:20px;
margin:10px;
display:inline-block;
width:210px;
border-radius:10px;
box-shadow:0 6px 15px rgba(0,0,0,0.1);
text-align:center;
}

.delete{
background:#DC2626;
}

.update{
background:#16A34A;
}

.low{
color:#DC2626;
font-weight:bold;
}

table{
background:white;
border-collapse:collapse;
width:100%;
}

th{
background:#2563EB;
color:white;
}

th,td{
padding:12px;
text-align:center;
}

.chart-container{
width:500px;
height:300px;
margin-top:20px;
}